
.container {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
  }
  
  .container img {
    vertical-align: middle;
    border-radius: 2%;
  }
  .leftheader_image{
    height: 400px;
   
  }
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  .rate {
    display: flex;
    justify-content: space-between;
  }
  
  .explore_button {
    background: transparent;
    border-radius: 25px;
    color: white;
    border: solid 0.5px white;
    height: 35px;
    width: 105px;
  }
  